
.footer{
    color: #e1e1e1;
    font-family: 'Roboto', Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
    margin-top: 350px;
    background-image: url("../images/dark_wood.png");
    width: 100%;
    border-top: 10px solid rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.footer h2{

    font-size: 2em;
    text-align: center;
}
.footer ul{
    list-style: outside none none;
    margin-top: 40px;
    text-align: center;
}
.footer li{
    font-size: 3em;
    margin: 10px;
}
.footer li a:hover{
    background-color: #B21616;
}
.footer .list-inline li a {
    color:white;
    border: 2px solid white;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    float:left; /*For Chrome Suppor */

    padding: 10px;
}
.footer .row{
    margin:0;
}
.last{
    text-align: center;
}
.last p{

    position: absolute;
    width: 100%;
    background: rgba(0,0,0, 0.8);
    bottom: 0;
    margin: 0;
    font-size: 14px;
    padding:10px;
    color:#ffffff;
    font-weight: bold;
}
.impressum{
    border:none;
}
.impressum li {

    font-size: 24px;
    text-align: center;

}
.impressum li a {
    text-decoration: none;
    color: #e1e1e1;
}
.impressum li a:hover {
    background: none;
    cursor: pointer;
    color:#B21616;
}
.impressum ul{
    margin-bottom: 200px;
}

@media only screen
and (min-width : 1025px) {

    .footer li {
        margin: 3px;
    }

    .footer {
        margin-top: 250px;
    }
}
@media only screen
and (min-width : 1200px) {
    .impressum {
        border-left: 3px solid rgba(0, 0, 0, 0.8);
    }

    .impressum li {
        text-align: left;
    }
}

