@import url('http://fonts.googleapis.com/css?family=Oswald:400,700');


#nav-trigger {
    display: none;
    padding-top: 10px;
     }

#nav-trigger span {
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 4em;
    font-family: Impact, 'Oswald', sans-serif;
    color:white;
}
#nav-trigger span:after {
    display: inline-block;
    margin-left: 10px;
    width: 20px;
    height: 10px;
    content: "";
    border-left: solid 10px transparent;
    border-top: solid 10px #fff;
    border-right: solid 10px transparent; }

#nav-trigger span.open:after {
    border-left: solid 10px transparent;
    border-top: none;
    border-bottom: solid 10px #fff;
    border-right: solid 10px transparent; }


nav#nav-mobile {
    z-index: 4;
    position: relative;
    display: none; }
nav#nav-mobile ul {
    z-index: 4;
    display: none;
    list-style-type: none;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-image: url("../images/footer_lodyas3.png");
    }
nav#nav-mobile li {
    z-index: 4;
    display: block;
    padding: 5px 0;
    margin: 0 5px;
    border-bottom: solid 2px white; }

nav#nav-mobile li:last-child {
    border-bottom: none; }

nav#nav-mobile a {
    display: block;
    color: white;
    padding: 2% 30px;
    font-size: 1.5em;
}

nav#nav-mobile a:hover {
    color: #B21616; }




.nav-wrap{
    background-image: url("../images/footer_lodya2s.png");
    height: 180px;
}


.nav-wrap ul{
    margin: 0 auto;
    list-style-type: none;
    text-align: center;
    padding: 50px 0px ;
}
.nav-wrap li{
    padding: 2%;
    font-size: 2em;
    font-family: Impact, 'Oswald', sans-serif;
    display: inline;
}
.nav-wrap a{
    color: white;
}
.nav-wrap a:hover{
    text-decoration: none;
    color: #B21616;
}
.space{
    margin-right: 300px;
}
#logo{
    margin: -120px auto 0px;
    display: block;
}

.none{
    background-image: none;
    height: auto;
    margin-top: 80px;
}
.none ul{
    padding:0;
}
.none span{
margin: 0 auto !important;
}
.none #nav-trigger{
    margin: -80px 0px 0px;
}

.none nav#nav-mobile ul {
    background: url("../images/tiny_himmelfarbverlauf.JPG");

}

/* =Media Queries
-------------------------------------------------------------- */
@media all and (max-width: 1025px) {
    .none #logo{
        margin: -120px auto 0px;
    }
    #nav-trigger {
        display: block; }

    nav#nav-main {
        display: none; }

    nav#nav-mobile {
        display: block; }
}
@media only screen
and (min-width : 1025px) {
    #logo{
        margin: -90px auto 0px;
        display: block;
    }
    .start{
        margin: -200px auto 0px;
        display: block;
    }

}

@media only screen
and (min-width : 1290px) {

    .none ul{
        padding:0;
    }

}