html{

}
body{
    background: url("../images/tiny_Background5.JPG")no-repeat;
    background-size: cover;
    font-family: 'Roboto', Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.row{
    margin:0;
}
p {
    font-size: 18px;
}

.content{
    font-family: 'Roboto', Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    position: relative;
    background-image: url("../images/lined_paper.png");
    padding: 1% 1% 100px 3%;
    z-index: 2;
    margin-bottom: -350px;
    top:0;
    bottom:0;
    margin-top: 100px;
}

.foreground{
    background: url("../images/Background_Jaq.png") no-repeat;
    height: 100%;
   /* position: absolute;
    top:400px; */
    width: 100%;
    display:none;
    height: 500px;

    position: relative;
    height: 500px;
    margin-top: -450px;
    margin-bottom: -550px;
    padding-bottom: 700px;
    }


.footer{
  margin-top:350px !important;
  z-index: 3 !important;
}

.footer .last{
    padding:0;
}
.ribbon{
    position: relative;
    width: 35%;
    font-size: 2em;
    font-weight: bold;
    padding: 10px 20px 10px 70px;
    margin:140px 10px 10px -25px;
    color: #000000;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 2px 4px #505050;
    -moz-box-shadow: 0px 2px 4px #505050;
    box-shadow: 0px 2px 4px #505050;

}

.ribbon:after{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 0px;
    top: 100%;
    border-width: 15px 19px;
    border-style: solid;
    border-color: #000000 #000000 transparent transparent;
    z-index: -1;
}

#logo{
    margin: -100px auto 0px;
}

h3{
    text-align: center;
}
.textpic{
    background-size: cover;
    width: 200px;
    height: 200px;
    padding: 10px;
    border: 1px solid #ddd;
    background-size: cover;
    background-clip: content-box;
    box-sizing: border-box;
    position: relative;
    top: 5px;
    margin: 0px auto 20px;
}


.textpic:before, .textpic:after{
    content: '';
    display: block;
    position: absolute;
    background-color: rgba(230, 227, 214, 0.58);
    height: 25px;
}

.textpic:before {
    left: -20px;
    top: -5px;
    width: 70px;
    transform: rotate(-25deg);
    -webkit-transform: rotate(-25deg);
    -moz-transform: rotate(-25deg);
    -o-transform: rotate(-25deg);
    -ms-transform: rotate(-25deg);
}
.textpic:after{
    left: 158px;
    top: -5px;
    width: 70px;
    transform: rotate(35deg);
    -webkit-transform: rotate(35deg);
    -moz-transform: rotate(35deg);
    -o-transform: rotate(35deg);
    -ms-transform: rotate(35deg);

}
.first, .third{
    transform: rotate(-2.5deg);
    -webkit-transform: rotate(-2.5deg);
    -moz-transform: rotate(-2.5deg);
    -o-transform: rotate(-2.5deg);
    -ms-transform: rotate(-2.5deg);
}
.first{
    background-image: url("../images/Berge1-Print.JPG");
}
.second{
    background-image: url("../images/Berge8-Print.JPG");
    transform: rotate(2.5deg);
    -webkit-transform: rotate(2.5deg);
    -moz-transform: rotate(2.5deg);
    -o-transform: rotate(2.5deg);
    -ms-transform: rotate(2.5deg);
}
.third{
    background-image: url("../images/skitour1.JPG");
}
@media only screen
and (min-width : 1025px) {
    .row{
        margin:0;
        padding: 0 20px;
    }
    .content:before, .content:after {
        content: "";
        height: 98%;
        position: absolute;
        width: 100%;
        z-index: -1;
    }
    .content:before {
        background-image: url("../images/linedpaper.png") !important;
        box-shadow: 0 0 8px rgba(0,0,0,0.2);
        left: -5px;
        top: 4px;
        transform: rotate(-2.5deg);
    }
    .content:after {
        background-image: url("../images/lined_paper.png") !important;
        box-shadow: 0 0 3px rgba(0,0,0,0.2);
        right: -3px;
        top: 1px;
        transform: rotate(1.4deg);
    }
     #logo{
        margin: -120px auto 0px;
    }
    .start{
        margin: -200px auto 0px;
        display: block;
    }
    .content{
        position: relative;
        top:0;
        bottom:0;
        padding: 20px 0;
        margin: 5px  auto;
        width:60%;
        z-index: 1;
        height:1000px;
        -webkit-box-shadow: 3px 3px 4px 0px rgba(50, 50, 50, 0.75);
        -moz-box-shadow:    3px 3px 4px 0px rgba(50, 50, 50, 0.75);
        box-shadow:         3px 3px 4px 0px rgba(50, 50, 50, 0.75);
    }
    .foreground{
        display: block;
        z-index:2;
    }

}