
body{
    background: url("../images/bda3da3ec3.jpg") no-repeat center bottom fixed;
    background-size: cover;
    font-family: 'Roboto', Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.wrap-content {
    background-image: url("../images/subtle_zebra_3d.png");
    padding: 3%;
    border: 15px solid white;
}


.slider{
    margin: 45px 0;
}
.datagrid table {
    border-collapse: collapse;
    text-align: left; width: 100%;
}
.datagrid {
    overflow: hidden;
}
.datagrid table td{
     padding: 7px 12px;
 }
h3{
    color: #4e4e4e;
}

.datagrid table tbody td {
    color: #7D7D7D;
    border-left: 1px solid #DBDBDB;
    font-size: 20px;
    border-bottom: 3px solid #8D9599;
    font-weight: normal; }

.datagrid table tbody .alt td {
    background: #EBEBEB;
    color: #7D7D7D;
}
.datagrid table tbody td:first-child {
     border-left: none;
 }
.datagrid table tbody tr:last-child td {
       border-bottom: none;
   }


.header{
    position: relative;
    width: 100%;
    font-size: 2em;
    font-weight: bold;
    padding: 6px 20px 6px 70px;
    margin: 60px 10px 10px -85px;
    color: #000000;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 2px 4px #505050;
    -moz-box-shadow: 0px 2px 4px #505050;
    box-shadow: 0px 2px 4px #505050;

}

.header:after
{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 0px;
    top: 100%;
    border-width: 15px 19px;
    border-style: solid;
    border-color: #000000 #000000 transparent transparent;
    z-index: -1;
}

#map_canvas{
    height:400px;
    width: 100%;
}


#canvas{
    margin-top: 50px;
}
@media only screen
and (min-width : 1025px) {
    .bx-wrapper{
        margin: 0 15%;
    }
    .header{
        width:50%;
    }
.wrap-content {
    margin: -80px  10%;
    padding-top: 0;
    -moz-border-radius-topleft: 35px;
    -webkit-border-top-left-radius: 35px;
    border-top-left-radius: 35px;
    -moz-border-radius-topright: 35px;
    -webkit-border-top-right-radius: 35px;
    border-top-right-radius: 35px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
}




}
